.product-item {
  margin-top: 1%;
  list-style:none;
}
.price {
    margin-left: 20%;
    margin-top: -7.4%;
}
.quantity {
    margin-left: 50%;
    margin-top: -2%;
    
}

.purchases{
  display: inline-block;
  
  border-style: solid;
  border-color: yellow
}
